# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.Referencia/
.idea/
*.swp
*.swo
*~

# C++ compiled files
*.o
*.obj
*.out
*.exe
*.app
*.elf
*.bin
*.so
*.dylib
*.dll
*.a
*.lib

# C++ build directories
build/
utilidades/build/
Debug/
Release/

# Debug files
*.dSYM/
*.pdb

# Graphviz
*.dot
*.png
